# Global
*.aps
*.log
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tmp_proj
*.user
*.VC.db
.vs
bin
ipch
obj
TestResults

# Specific
/ChangeLog.txt
/NeoEdit.Common/Expressions/Parser
/NeoEdit.Common/Properties/GlobalAssemblyInfo.cs
/NeoEdit.Common/RevRegEx/Parser
/NeoEdit.Editor/CommandLine/Parser
/NeoEdit.Editor/Content/Balanced/Parser
/NeoEdit.Editor/Content/Columns/Parser
/NeoEdit.Editor/Content/CSharp/Parser
/NeoEdit.Editor/Content/ExactColumns/Parser
/NeoEdit.Editor/Content/HTML/Parser
/NeoEdit.Editor/Content/JSON/Parser
/NeoEdit.Editor/Content/SQL/Parser
/NeoEdit.Editor/Content/TCSV/Parser
/NeoEdit.Editor/Content/XML/Parser
/NeoEdit.Editor/Words.txt.gz
/NeoEdit.UI/Resources/ChangeLog.txt
/NeoEdit.UI/Resources/License.txt
/Release
