# Global
*.aps
*.log
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tmp_proj
*.user
*.VC.db
.vs
bin
ipch
obj
TestResults

# Specific
/ChangeLog.txt
/Common/Expressions/Parser
/Dependencies/GlobalAssemblyInfo.cs
/MenuContent/Content/Balanced/Parser
/MenuContent/Content/Columns/Parser
/MenuContent/Content/CSharp/Parser
/MenuContent/Content/ExactColumns/Parser
/MenuContent/Content/HTML/Parser
/MenuContent/Content/JSON/Parser
/MenuContent/Content/SQL/Parser
/MenuContent/Content/TCSV/Parser
/MenuContent/Content/XML/Parser
/MenuText/RevRegEx/Parser
/MenuWindow/Words.txt.gz
/NeoEdit/CommandLine/Parser
/Release
